<%  layout("layouts/boilerplate") %>

<body>
    
    <div class="row mt-5">
       <h3>Error!!</h3>
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%=message%></h4> 
        </div>
    </div>

</body>

